.btn {
  display: inline-block;
  width: 250px;
  line-height: 70px;
  text-decoration: none;
  color: rgb(255, 248, 248);
  border: 3px solid #9a50df0c;
  text-transform: uppercase;
  margin-left: 20px;
  text-align: center;
  background: rgba(208, 187, 231, 0.568);
  border-radius: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.hero_text_box {
  position: absolute;
  top: 25%;
  left: 15%;
  color: #ffffff;
  font-size: 28px;
}
